<!--Footer-->
<div id="footer" class="mt-5 pt-lg-3 container-fluid footer">
    <!--Desktop only footer section-->
    <div class="row text-center d-none d-lg-flex ">
        <div class="col-4">
            <a class="footer-home-link" href="{% url 'home' %}">
                <img src="/media/logo.png" alt="logo" class="footer-logo">
            </a>
            <p class="pt-2">We make you feel so good
            </p>
        </div>
        <div class="col-4">
            <h4 class="uppercase">Quick links</h4>
            <nav class="nav flex-column">
                <a class="nav-link footer-link py-1" href="{% url 'products' %}">Products</a>
            </nav>
        </div>
        <div class="col-4 text-left">
            <h4 class="uppercase mb-3">Contact info</h4>
            <p><i class="fas fa-map-marker-alt mr-3 icon-green"></i>
            333 O'Connell Street Lower, North City, 
            <br/>Dublin, Republic of Ireland </p>
            <p><i class="fas fa-phone-alt mr-3 icon-green"></i> +123 45 678 90</p>
            <p><i class="fas fa-envelope mr-3 icon-green"></i> feelsogood@example.com</p>
        </div>
    </div>
    <!--Bottom main footer-->
    <div class="row bottom-footer py-3 py-lg-2">
        <div class="col-12 container text-center">
            <a href="https://github.com/" target="_blank" 
                rel="noopener" class="icon-footer-container">
                <i class="fab fa-github media-icons" aria-hidden="true"></i>
            </a>
            <a href="https://www.linkedin.com//" target="_blank"
                 rel="noopener" class="icon-footer-container">
                <i class="fab fa-linkedin-in media-icons" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/" target="_blank" rel="noopener" 
                class="icon-footer-container">
                <i class="fab fa-instagram media-icons" aria-hidden="true"></i>
            </a>
            <a href="https://www.facebook.com/" target="_blank" rel="noopener"
                 class="icon-footer-container">
                <i class="fab fa-facebook media-icons" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>