<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container main-heading">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <p class="card-text ">{{ object.content | safe }}</p>
      </div>
    </div>
  </div>
</div>
<div class="col{% if s %}-12 mt-2{% endif %}">
    <a href="{% url 'blog' %}" class="btn btn-outline-black rounded-0 mt-5">
        <span class="icon">
            <i class="fas fa-chevron-left"></i>
        </span>
        <span class="text-uppercase">Back to blog</span>
    </a>
</div>
{% endblock content %}