{% extends "base.html" %}
{% load static %}
{% block extra_title %}- About{% endblock %}
{% block content%}

<div class="container my-3 my-md-5 mt-5 pt-5">
    <!--About Heading-->
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="uppercase main-heading">About us</h1>
            <hr>
        </div>
    </div>
    <!--About- Main sections-->
    <div class="row text-center mt-3 mt-md-5">
        <div class="col d-flex justify-content-center mt-5 mb-5">
            <p>
                We started in a basebase 2008 with our hopes hooked to the stars. <br>
                Our main goal was to create a space where everyone would feel welcome.
                <br>
                <br>
                Are you intrested in learning more about what we do? <br>
                Contact us and ask anything you'd like :)
            </p>
        </div>
    </div>
</div>
{% endblock %}