<div class="container mb-3"  data-aos="fade-up" data-aos-duration="2000">
    <h2 class="text-center pt-5 main-heading">Stop and breath, are you in a hurry?</h2>
    <hr class="w-50 mt-4">
    <div class="row pt-md-5 text-center mb-lg-5">
        <div class="col-sm-12 col-md-6 col-lg-5 pr-md-5">
            <p class="mb-lg-5 mt-lg-5"> 
                <strong>Feel So Good</strong> was created for you as a refuge from the hectic.
            </p>
            <p>
                Have a look and you know what, welcome home!
            </p>
            <div class="text-lg-left mt-4 mb-3 mb-md-0">
                <!--- add about url 'about' %}-->
                <a href="#" class="btn btn-dark uppercase px-3">Learn more</a>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-7 ">
            <img src="/media/home_header_2.png" class="img-fluid" alt="health">
        </div>
    </div>
</div>